{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="{% static '/css/swiper-bundle.min.css' %}"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static '/css/blog2.css' %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">

        <nav class="navbar container">
            <a href="{% url "blog:homepage" %}">
                <h2 class="logo">Blogs</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="{% url 'store:all_products' %}" class="list-link current">Store</a>
                    </li>
                    <div class="col-12 pb-5">
                        <ul class="dropdown">
                            <li class="list-item" id="categoriesDropdown">
                                <a href="#" onclick="toggleCategoriesDropdown()">Categories</a>
                                <ul class="dropdown-menu" id="categoriesList">
                                    {% for category in category_list %}
                                        <li class="dropdown-item"><a href="/blog/category/{{category.name}}">{{ category.name|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>   
                    <li class="list-item">
                        <a href="{% url 'blog:all_blog' %}" class="list-link">all blogs</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="{% url 'account:login' %}" class="list-link">log-in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="{% url 'account:register' %}" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <button class="btn place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </button>

                <button class="btn place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </button>

                <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <a href="{% url 'account:login' %}" class="list-link screen-sm-hidden">log in</a>
                <a href="{% url 'account:register' %}" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>

        </nav>

    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">

        <div class="form-container-inner">

            <form action="/blog/search/" method="get" class="form" id="blog-search-form">
                {% csrf_token %}
                <input class="form-input" name="q" type="search" placeholder="What are you looking for?" id="blog-search-box">
                <div id="blog-suggestions-container" class="dropdown">
                </div>
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>

            </form>
            <ul id="blog-suggestions-list" class="new_dropdown" aria-labelledby="">
                <!-- Suggestions will be added dynamically here -->
            </ul>
            <span class="form-note">Or press ESC to close.</span>

        </div>

        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>

    </div>

    <!-- Featured articles -->
    <section class="featured-articles section section-header-offset">

        <div class="featured-articles-container container d-grid">

            <div class="featured-content d-grid">

                <div class="headline-banner">
                    <h3 class="headline fancy-border">
                        <span class="place-items-center">Breaking news</span>
                    </h3>
                    <span class="headline-description"></span>
                </div>

                <a href="{{ technologies.get_absolute_url }}" class="article featured-article featured-article-1">
                    <img src="{{ technologies.image.url }}" alt="" class="article-image">
                    <span class="article-category">Technology</span>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>{{ technologies.publish }}</span>

                        </div>
                        <h3 class="title article-title">{{technologies.title}}</h3>
                    </div>
                </a>

                <a href="{{ travel.get_absolute_url }}" class="article featured-article featured-article-2">
                    <img src="{{ travel.image.url }}" alt="" class="article-image">
                    <span class="article-category">Travel</span>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>{{travel.publish}}</span>
                            <span class="article-data-spacer"></span>
                        </div>

                        <h3 class="title article-title">{{travel.title}}</h3>

                    </div>
                </a>

                <a href="{{ health.get_absolute_url }}" class="article featured-article featured-article-3">
                    <img src="{{ health.image.url }}" alt="" class="article-image">
                    <span class="article-category">Health</span>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>{{health.publish}}</span>
                            <span class="article-data-spacer"></span>
                        </div>

                        <h3 class="title article-title">{{health.title}}</h3>  

                    </div>
                </a>

            </div>
            
            <div class="sidebar d-grid">
                
                <h3 class="title featured-content-title">Trending news</h3>
                {% for post in posts %}
                <a href="{{post.get_absolute_url}}" class="trending-news-box">
                    

                    <div class="trending-news-data">

                        <div class="article-data">
                            <span>{{post.publish}}</span>
                            <span class="article-data-spacer"></span>
                        </div>

                        <h3 class="title article-title">{{ post.title }}</h3>
                        <p class="title article-title">{{ post.excerpt }}</p>
                    </div>
                    
                </a>
                {% endfor %}
                
                
            </div>
            
            
        </div>
        
        
    </section>

    <!-- Quick read -->
    <section class="quick-read section">
        
        <div class="container">
            

            <h2 class="title section-title" data-name="Quick read">Quick read</h2>
            <!-- Slider main container -->
            
            <div class="swiper">

                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for Quick in quick_read %}
                    <!-- Slides -->
                    <a href="{{ Quick.get_absolute_url }}" class="article swiper-slide">
                        <img src="{{ Quick.image.url }}" alt="" class="article-image">

                        <div class="article-data-container">
                            <div class="article-data">
                                <span>{{ Quick.publish }}</span>
                                <span class="article-data-spacer"></span>
                            </div>
                            <h3 class="title article-title">{{ Quick.title }}</h3>
                        </div>
                    </a>
                    {% endfor %}
                <!-- Navigation buttons -->
                <div class="swiper-button-prev swiper-controls"></div>
                <div class="swiper-button-next swiper-controls"></div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>

            </div>

        </div>



    </section>

    <!-- Older posts -->
    <section class="older-posts section">

        <div class="container">

            <h2 class="title section-title" data-name="Sceince Posts">Sceince Posts</h2>

            <div class="older-posts-grid-wrapper d-grid">
                {% for science_post in science_posts %}
                <a href="{{ science_post.get_absolute_url }}" class="article d-grid">
                    <div class="older-posts-article-image-wrapper">
                        <img src="{{ science_post.image.url }}" alt="" class="article-image">
                    </div>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>{{science_post.publish}}</span>
                            <span class="article-data-spacer"></span>
                        </div>

                        <h3 class="title article-title">{{science_post.title}}</h3>
                        <p class="article-description">{{science_post.excerpt}}</p>

                    </div>
                </a>
                {% endfor %}

            </div>

            <div class="see-more-container">
                <a href="{% url 'blog:all_blog' %}" class="btn see-more-btn place-items-center">See more <i class="ri-arrow-right-s-line"></i></i></a>
            </div>

        </div>

    </section>

    <!-- Popular tags -->
    <section class="popular-tags section">

        <div class="container">

            <h2 class="title section-title" data-name="Popular tags">Popular tags</h2>

            <div class="popular-tags-container d-grid">

                <a href="/blog/category/travel/" class="article">
                    <span class="tag-name">#Travel</span>
                    <img src="/media/images/pexels-photo-2577274.jpeg" alt="" class="article-image">
                </a>

                <a href="/blog/category/food/" class="article">
                    <span class="tag-name">#Food</span>
                    <img src="/media/images/pexels-jane-doan-1099680.jpg" alt="" class="article-image">
                </a>

                <a href="/blog/category/Technology/" class="article">
                    <span class="tag-name">#Technology</span>
                    <img src="/media/images/pexels-pixabay-73910.jpg" alt="" class="article-image">
                </a>

                <a href="/blog/category/health/" class="article">
                    <span class="tag-name">#Health</span>
                    <img src="/media/images/pexels-photo-235922.jpeg" alt="" class="article-image">
                </a>

                <a href="/blog/category/nature/" class="article">
                    <span class="tag-name">#Nature</span>
                    <img src="/media/images/pexels-photo-772803.webp" alt="" class="article-image">
                </a>

                <a href="/blog/category/fitness" class="article">
                    <span class="tag-name">#Fitness</span>
                    <img src="/media/images/pexels-photo-2827392.webp" alt="" class="article-image">
                </a>

            </div>

        </div>
    </section>



    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Blogs</h2>
                </a>
                <p class="company-description">"Words have the power to inspire, create, and transform. In the vast landscape of the internet, let your blog be a beacon of insight and a source of positive influence. Craft your words with care, for in each sentence lies the potential to resonate with a reader and spark a meaningful connection."</p>
                
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice"></span>
            </div>

            <div>
                <h6 class="title footer-title">Categories</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="/blog/category/travel/" class="list-link">Travel</a>
                    </li>
                    <li class="list-item">
                        <a href="/blog/category/food/" class="list-link">Food</a>
                    </li>
                    <li class="list-item">
                        <a href="/blog/category/Technology/" class="list-link">Technology</a>
                    </li>
                    <li class="list-item">
                        <a href="/blog/category/health/" class="list-link">Health</a>
                    </li>
                    <li class="list-item">
                        <a href="/blog/category/nature/" class="list-link">Nature</a>
                    </li>
                    <li class="list-item">
                        <a href="/blog/category/fitness" class="list-link">Fitness</a>
                    </li>
                </ul>

            </div>

            <div>
                <h6 class="title footer-title">Useful links</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="{% url 'blog:homepage'%}" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'blog:all_blog' %}" class="list-link">all blogs</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'store:all_products' %}" class="list-link">Store</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'account:login' %}" class="list-link">login</a>
                    </li>
                </ul>

            </div>

            <div>
                <h6 class="title footer-title">Company</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">Contact us</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">F.A.Q</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Careers</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Authors</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Memberships</a>
                    </li>
                </ul>

            </div>

        </div>
        
    </footer>
    <style>
        .dropdown {
            list-style: none;
        }
        
        .list-item a {
            cursor: pointer;
            text-decoration: none;
        }
        
        .dropdown-menu {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 1;
        }
        
        .dropdown-item {
            padding: 10px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        
        .dropdown-item a {
            color: #333;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-item:hover {
            background-color: #f5f5f5;
        }
        
    </style>
    <script>
        function toggleCategoriesDropdown() {
            var categoriesList = document.getElementById("categoriesList");
            categoriesList.style.display = (categoriesList.style.display === "block") ? "none" : "block";
        }
    </script>
    <script>
        $(document).ready(function () {
            console.log('Script is executing for blog search.'); // Debugging
    
            $('#blog-search-box').on('input', function () {
                var query = $(this).val();
    
                // Clear previous suggestions
                $('#blog-suggestions-list').empty();
    
                // Make an AJAX request only if the query is not empty
                if (query.trim() !== '') {
                    // Get the form data with CSRF token
                    var formData = $('#blog-search-form').serialize();
    
                    // Make an AJAX request
                    $.ajax({
                        type: 'POST',
                        url: '{% url "blog:post_search" %}',
                        data: formData,
                        success: function (data) {
                            console.log('Received data from server:', data); // Debugging
    
                            // Display the suggestions
                            var suggestionsList = $('#blog-suggestions-list');
                            $.each(data.suggestions, function (index, suggestion) {
                                var listItem = $('<li class="dropdown-item">' + suggestion.title + '</li>');
                                suggestionsList.append(listItem);
    
                                // Handle click on suggestion
                                listItem.on('click', function () {
                                    // Fill the search box with the clicked suggestion
                                    $('#blog-search-box').val(suggestion.title);
    
                                    // Hide the suggestions container
                                    $('#blog-suggestions-container').hide();
                                });
                            });
    
                            // Show the suggestions container
                            $('#blog-suggestions-container').show();
                        },
                        error: function (error) {
                            console.log('Error in AJAX request:', error); // Debugging
                        }
                    });
                } else {
                    // Hide the suggestions container if the query is empty
                    $('#blog-suggestions-container').hide();
                }
            });
        });
    </script>

    <!-- Swiper.js -->
    <script src="{% static 'JS/swiper-bundle.min.js'%}"></script>
    <!-- Custom script -->
    <script src="{% static 'JS/main.js' %}"></script>
</body>
</html>